/* Sayfa ortalaması için container */
.body{
  background-image: url(https://static.vecteezy.com/system/resources/previews/011/449/273/non_2x/70s-retro-perspective-lines-background-vintage-colourful-stripes-banner-backdrop-and-wallpaper-vector.jpg)!important;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh; /* Ekranın tamamını kapsasın */
  background-image: url(https://static.vecteezy.com/system/resources/previews/011/449/273/non_2x/70s-retro-perspective-lines-background-vintage-colourful-stripes-banner-backdrop-and-wallpaper-vector.jpg)!important;
}

.button-box{
  display: flex!important;
  width: 25%!important;
  height: 600px;
  padding: 20px; /* İç dolgu */
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.content-box{
  width: 60%!important;
  height: 600px;
}

.arrow-box{
  width: 95%;
  height: 450px;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}

.leftArrow{
  background-image: url('./img/left.png');
}

.rightArrow{
  background-image: url('./img/right.png');
}

.arrowButton{
  width: 50px;
  height: 50px;
  background-size: contain;
}

.button-size{
  width: 250px;
}

@media (max-width: 1074px) {
  .container{
    flex-direction: column;
    align-content: space-around;
    height: auto;
    background-repeat: repeat;
  }
  .arrow-box{
    width: 100%;
    align-items: end;
    height: 650px;
    left: 0;
  }
  .button-box{
    margin-top: 50px;
    width: 400px!important;
    height: 600px;
  }
  .content-box{
    margin-top: 50px;
    margin-bottom: 50px;
    width: 400px!important;
    height: 700px;
  }
  li{
    margin-left: 0px!important;
    list-style-position: outside;
}
}